#shall{
    height: 280px;
    overflow-y: scroll;
    overflow:auto;
  }

  #showAll{
    height: 100%;
    align-content: center;
    margin-top: 90px;
    
    }

    #showAllCard{
        height: 500px;
            margin-top: auto;
            margin-bottom: auto;
            width: 400px;
            background-color: rgba(0,0,0,0.5) !important;
    }

    .log{
      float: right
    }